div{
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: blue;
        }
        h2#work-experienc{
            color:red;
            font-size: 30px;
            background-color: rgb(59, 51, 51);
        }

        .text-red {
            color: red;
            border: 2px solid green;
            padding: 50px 20px 30px 40px;
            margin: 50px;
        }
        strong{
            color: green;
        }